@use "variables" as *;

// Centra con flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Responsive
@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

// Input focus glow
@mixin input-focus {
  outline: none;
  border-color: $primary;
  box-shadow: 0 0 0 3px rgba($primary, 0.15);
}
